<h1>New Contact</h1>

<%= form_with model: @contact do |form| %>

  <p>
    <%= form.label "first_name" %>
    <%= form.text_field "first_name" %>
    <%= form.label "last_name" %>
    <%= form.text_field "last_name" %>
  </p>
  <p>
    <%= form.label "company_id" %>
    <%= form.text_field "company_id" %>        
  </p>
  <p>
    <%= form.hidden_field "comapny_id" %>
  </p>
  <%= form.submit %>
<% end %>